.todoItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.todoText {
    flex: 1;
    text-decoration: none;
}

.removeButton {
    background-color: #fdfcfc;
    color: #565454;
    border: 2px;
    border-radius: 6px;
    padding: 8px;
    cursor: pointer;
}
